<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="/css/profile.css" rel="stylesheet" type="text/css">
<link href="/css/nav.css" rel="stylesheet" type="text/css">
<script src="/js/profile.js"></script>  
</head>
 <% include partials/header.ejs %>
<body>
    <div class= " container ">
  <div class= " row ">
    <div class="col-md-4"></div>
       <div class="col-md-4">
      <div id="f1_container" class="hover">
        <div id="f1_card" class="shadow" onclick="toggle()">
          <div class="front face">
            <img  src="http://localhost:8080/images/<%=user.file%>" class="frame"/>
          </div>
          <div class="back face center">
           <a href="/profile/<%= user.name %>/private"> <h1><%=user.name%></h1><p>Contact me on:</p><p><%=user.email%></p></a>
           
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <form id = "prive" action="/profile/<%=user.name%>/private" method = "post">
 
  <input type="text" name="private" placeholder="Write on your wall" value="">
  
  <input type="submit" value="Submit">
</form>
    <!--<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="f1_container" class="hover">
        <div id="f1_card" class="shadow" onclick="toggle()">
          <div class="front face">
            <img src="http://localhost:8080/images/<%=user.file%>"/>
          </div>
          <div class="back face center">
           <a href="/profile/<%= user.name %>/home">  <h1>HOME</h1>
            <p>SEE MY PAGE</p> </a>
          </div>
        </div>
      </div>
    </div> -->
 <div id="center">   
<!--<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="f1_container" class="hover">
        <div id="f1_card" class="shadow" onclick="toggle()">
          <div class="front face">
            <img src=" http://www.19thc-artworldwide.org/images/stories/spring_15/articles/garv26.jpg"/>
          </div>
          <div class="back face center">
           <a href="/profile/<%= user.name %>/home">  <h1>HOME</h1>
            <p>SEE MY PAGE</p> </a>
          </div>
        </div>
      </div>
    </div>-->




    <div class="col-md-6">
      <div id="f1_container" class="hover">
        <div id="f1_card" class="shadow" onclick="toggle()">
          <div class="front face">
            <img src="  http://www.19thc-artworldwide.org/images/stories/spring_15/articles/garv26.jpg" class="frame" />
          </div>
          <div class="back face center">
             <a href="/profile/<%= user.name %>/members"><h1>MEMBERS</h1>
            <p>SEE OTHER MEMBERS</p></a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div id="f1_container" class="hover">
        <div id="f1_card" class="shadow" onclick="toggle()">
          <div class="front face">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/6f/d3/71/6fd37169c96b95d7fd87f45664588bc3.jpg" class="frame" />
          </div>
          <div class="back face center">
            <a href="/profile/<%= user.name %>/home"><h1>POST</h1>
            <p>WRITINGS ON THE WALL</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h2>Write Something public <%=user.name%></h2>
    <form action    =  "/profile/<%=user.name%>"
     method    =  "post">
      <div class="form-group" >
    
<div id="wrapper">
        <input type="text" class="form-control" name ="write"  id="write" value="" size="50" >
        <div id= "output"></div>
        

</div>
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-danger">POST</button></div>
      </div>
  </div>
<img src='https://gamespervertsplay.files.wordpress.com/2012/02/dusty-books-the-burden.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1; opacity:0.8;'>
</body>
</html>

